*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
li{list-style: none;}
body{
    background-color: $bg-color;
    color: $text-color;
    word-break: keep-all;
}