.main-wrap{
    height: 93vh;
    // url(../assets/bg-image.jpg);
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0.6),rgba(0,0,0,0.9)),
        url(../assets/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;

    header{
        height: 100px;
        max-width: $large-size;
        margin: 0 auto;
    }
    .logo-img{
        width: 200px;
    }
}
