
.banner{
    width: 60%;
    margin: 0 auto;
    height: calc(90vh - 100px);
    @include felx-layout(column,center,center);
    h1{
        margin: 1rem 0;
        font-size: 4rem;
    }
    p{
        margin: 1rem 0;
        text-align: center;
        font-size: $font-medium;
    }
}
section{
    width: 80%;
    margin: 0 auto;
}
.lang{
        position: absolute;
        top: -80px;
        right: 0;
        @include felx-layout();
        gap: 0.5rem;
        select{
            padding: 0.5rem 1rem;
        }
        button{
            @include btn-style();
        }
    }