//색상변수
$main-color: rgb(229,9,20);
$bg-color: #111;
$text-color: #fff;

//폰트
$font-large:36px;
$font-medium:24px;
$font-small:16px;

//반응형 breakpont
$small-size:600px;
$medium-size: 960px;
$large-size: 1024px;